<div class="header-bottom">
  <style>
    .header-style-1 .header-bottom {
      background-color: rgb(192 195 195);
    }
  </style>

  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 sidebar-menu">
        <div class="menu-content-sidebar">
          <div class="btn-menu">
            <a href="javascript:void(0)" title="Danh mục">Danh mục</a>
          </div>

          <div class="main-menu">
            <div class="menu-content">
              <div class="navigation-wrapper">
                <nav class="navigation" role="navigation">
                  {% for item in danhsach %}
                  <ul
                    data-mage-init='{"menu":{"responsive":true, "expanded":true, "position":{"my":"left top","at":"left bottom"}}}'
                  >
                  
                    <li class="level0 nav-10 last level-top parent">
                      <a
                        href="#"
                        class="level-top"
                      >
                        <span>{{item.name}}</span>
                      </a>
                      
                    </li>
                  </ul>
                  {% endfor %}
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
