<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 main-megamenu">
    <div class="searchbox-header">
        <div class="search-btn-device">
            <i class="fa fa-search"></i>
        </div>
        <div class="search-wrapper">
<div id="sm_searchbox9958836031628371092" class="sm-searchbox">


<div class="sm-searchbox-content">
<form class="form minisearch" id="searchbox_mini_form" action="https://www.thol.com.vn/catalogsearch/result/" method="get">
<div class="field searchbox">
    <div class="control">
        <select class="cat searchbox-cat" name="cat">
            <option value="">Tất cả</option>
                                            <option value="240"  >- - PROTEIN & Tăng cân</option>
                                            <option value="245"  >- - - - Protein hoàn chỉnh</option>
                                            <option value="246"  >- - - - Whey - Casein protein</option>
                                            <option value="254"  >- - - - Whey isolate protein</option>
                                            <option value="255"  >- - - - Whey blend</option>
                                            <option value="398"  >- - - - Mass Cao Calories</option>
                                            <option value="400"  >- - - - Bữa Ăn Thay Thế Hoàn Chỉnh</option>
                                            <option value="241"  >- - Năng lượng - Sức khỏe</option>
                                            <option value="269"  >- - - - Năng lượng GYM</option>
                                            <option value="270"  >- - - - Phục hồi cơ thể</option>
                                            <option value="273"  >- - - - Pre-workout</option>
                                            <option value="279"  >- - - - Amino Acids (EAA - BCAA)</option>
                                            <option value="476"  >- - - - Hỗ Trợ Sức Khỏe</option>
                                            <option value="243"  >- - Giảm mỡ - Giảm cân</option>
                                            <option value="271"  >- - - - Protein Hỗ Trợ</option>
                                            <option value="272"  >- - - - Fat-burner</option>
                                            <option value="244"  >- - Theo Hãng Sản Xuất</option>
                                            <option value="428"  >- - - - RSP Việt Nam</option>
                                            <option value="429"  >- - - - THOL</option>
                                            <option value="430"  >- - - - Labrada Việt Nam</option>
                                            <option value="431"  >- - - - Nutrex Việt Nam</option>
                                            <option value="432"  >- - - - S.A.N Việt Nam</option>
                                            <option value="462"  >- - - - Evogen Việt Nam</option>
                                            <option value="463"  >- - - - Sole Fitness</option>
                                            <option value="465"  >- - - -  TuffStuff Fitness</option>
                                            <option value="474"  >- - - - SPIRIT</option>
                                            <option value="475"  >- - - - Proteinfabrikken</option>
                                            <option value="391"  >- - Phụ kiện GYM THOL</option>
                                            <option value="285"  >- - - - Bao tay tập GYM</option>
                                            <option value="286"  >- - - - Đai lưng tập GYM</option>
                                            <option value="312"  >- - - - Vật dụng khác</option>
                                            <option value="392"  >- - - - Theo tính năng</option>
                                            <option value="393"  >- - Thời trang THOL</option>
                                            <option value="291"  >- - - - Thời trang nữ</option>
                                            <option value="300"  >- - - - Thời trang nam</option>
                                            <option value="304"  >- - - - Giày - Dép</option>
                                            <option value="308"  >- - - - Vật dụng khác</option>
                                            <option value="394"  >- - Thiết bị phòng GYM</option>
                                            <option value="443"  >- - - - Máy tập gym</option>
                                            <option value="446"  >- - - - Bench - Power Rack</option>
                                            <option value="450"  >- - - - Tạ và Thanh tạ</option>
                                            <option value="454"  >- - - - Phụ kiện - Home GYM</option>
                                            <option value="396"  >- - Máy Gym Gia Đình</option>
                                            <option value="427"  >- - Shaker - Bình uống nước</option>
                                            <option value="458"  >- - Ebook THOL</option>
                                            <option value="459"  >- - - - THOL Gym Phổ Nam</option>
                                            <option value="461"  >- - - - THOL Gym Phổ Nữ</option>
                                    </select>
<input id="searchbox"
							   data-mage-init='{"quickSearch":{
									"formSelector":"#searchbox_mini_form",
									"url":"https://www.thol.com.vn/search/ajax/suggest/",
									"destinationSelector":"#searchbox_autocomplete"}
							   }'
							   type="text"
							   name="q"
							  
							   onfocus="if(this.value=='Nhập từ khóa tìm kiếm...') this.value='';" onblur="if(this.value=='') this.value='Nhập từ khóa tìm kiếm...';" value="Nhập từ khóa tìm kiếm..." 
							   class="input-text input-searchbox"
							   maxlength="128"
							   role="combobox"
							   aria-haspopup="false"
							   aria-expanded="true"
							   aria-autocomplete="both"
							   autocomplete="off"/>
						<div id="searchbox_autocomplete" class="search-autocomplete"></div>
												
					</div>
				</div>
				<div class="actions">
					<button type="submit" title="Tìm kiếm" class="btn-searchbox">
						<span>Tìm kiếm</span>
					</button>
				</div>
			</form>
		</div>